body {
  margin: 0;
  font-family: "Lato";
  background-color: #222831; }

.hide-h1 {
  display: none; }

.navbar-toggler {
  background-color: #507395;
  margin: auto 0px auto auto; }

.blank .header-flex {
  display: flex;
  flex-direction: row;
  background-color: #222831;
  height: 150px;
  width: auto; }
  .blank .header-flex .responsive-nav {
    align-items: flex-end; }
  .blank .header-flex .blank-height-for-flex {
    height: 150px;
    width: 100%; }
  .blank .header-flex .breadcrumb {
    width: 100%;
    background-color: #222831;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0px 0px 0px 0px; }
    .blank .header-flex .breadcrumb li {
      color: whitesmoke;
      font-family: "Lato";
      font-size: 1rem;
      font-weight: 700;
      text-transform: lowercase;
      line-height: 1.5; }
      .blank .header-flex .breadcrumb li a {
        color: whitesmoke;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1.5;
        font-weight: 900; }

.blank .hide-nav-item {
  display: none; }

.mobile-rooms-bg {
  background-color: #47596b; }

.mobile-rooms {
  display: none;
  color: whitesmoke; }
  .mobile-rooms p {
    text-align: justify; }
  .mobile-rooms .btn {
    max-width: 60px;
    margin-top: 5px;
    background-color: #0F0F6D;
    border: none;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); }
  .mobile-rooms hr {
    margin-bottom: 0px; }

.airbnb-and-more {
  margin-top: 10px;
  font-size: 0.9rem; }

@media (max-width: 480px) {
  .mobile-rooms ul {
    padding-left: 15px;
    font-size: 0.8rem;
    line-height: 1.4; } }

.navbar-link-style {
  font-family: "Lato";
  font-size: 1rem;
  color: whitesmoke !important;
  font-weight: 700;
  text-transform: lowercase;
  margin-left: 10px;
  padding-top: 0px;
  background-color: rgba(33, 39, 48, 0.65) rgba(33, 39, 48, 0.65);
  text-align: center; }

.navbar-link-style:hover {
  transition: 150ms;
  transform: scale(1.1);
  animation-name: shakeAnim; }

.navbar-nav {
  background-color: rgba(33, 39, 48, 0.65);
  border-radius: 3%; }

.welcome {
  height: 450px;
  width: auto;
  margin: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 10%, rgba(0, 0, 0, 0.267) 100%), url("/pics/living-room.jpg");
  background-attachment: fixed;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: auto 170%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .welcome h1 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 75px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 600; }
  .welcome hr.hr {
    width: 60px;
    border-top: 2px solid whitesmoke !important; }
  .welcome h4 {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-size: 35px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 400; }

.clip-bottom-left {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 40px 100%, 0 calc(100% - 40px)); }

.clip-bottom-right {
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0% 100%, 0 100%); }

.blank-2 {
  background-color: #364d63;
  height: auto;
  width: auto;
  padding: 70px 0px 20px 0px; }
  .blank-2 .grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-rows: 350px;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    padding-bottom: 60px; }
    .blank-2 .grid .box-blue {
      background-color: #2d4053;
      padding: 25px 30px 25px 35px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .blank-2 .grid .box-blue p {
        font-family: "Lato";
        font-size: 1.2rem; }
    .blank-2 .grid .box-green {
      background-color: #2d4053;
      padding: 25px 30px 25px 35px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .blank-2 .grid .box-green p {
        font-family: "Lato";
        font-size: 1.2rem; }
    .blank-2 .grid .blue-room-pic {
      grid-column: span 2;
      background-image: url("/pics/blue-room.jpg");
      background-repeat: no-repeat;
      background-size: 105% auto;
      background-position: 50% 35%;
      box-shadow: 20px 5px 40px 10px rgba(0, 0, 0, 0.6); }
    .blank-2 .grid .green-room-pic {
      grid-column: span 2;
      background-image: url("/pics/green-room.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0% 20%;
      box-shadow: -20px 5px 40px 10px rgba(0, 0, 0, 0.6); }
  .blank-2 .carousel-size {
    height: auto;
    width: 700px; }
  .blank-2 .carousel-img {
    height: auto;
    width: 100%; }

.mobile-rooms-index {
  background-color: #364d63;
  height: auto;
  width: auto;
  padding: 20px 0px 20px 0px;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px; }
  .mobile-rooms-index .box-blue {
    min-width: 350px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #2d4053;
    padding: 25px 30px 25px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mobile-rooms-index .box-blue p {
      font-family: "Lato";
      font-size: 1.2rem; }
  .mobile-rooms-index .box-green {
    min-width: 350px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #2d4053;
    padding: 25px 30px 25px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mobile-rooms-index .box-green p {
      font-family: "Lato";
      font-size: 1.2rem; }
  .mobile-rooms-index .blue-room-pic {
    height: 300px;
    width: 85vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url("/pics/blue-room.jpg");
    background-size: 100% auto;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75); }
    @media (max-width: 534px) {
      .mobile-rooms-index .blue-room-pic {
        box-shadow: none; } }
  .mobile-rooms-index .green-room-pic {
    height: 300px;
    width: 85vw;
    margin: auto;
    margin-top: 10px;
    background-image: url("/pics/green-room.jpg");
    background-size: 100% auto;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75); }
    @media (max-width: 534px) {
      .mobile-rooms-index .green-room-pic {
        box-shadow: none; } }

.airbnb-card-wrapper {
  background-color: #26384a;
  padding-bottom: 30px;
  flex-direction: row; }
  .airbnb-card-wrapper .more-rooms-btn {
    margin: 15px 0px 40px 0px;
    text-transform: lowercase;
    font-weight: 700; }
  .airbnb-card-wrapper p {
    margin-top: 20px;
    color: whitesmoke; }
  .airbnb-card-wrapper .collapse .airbnb-newbery-card-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 25px; }
  .airbnb-card-wrapper .collapse p {
    font-size: 1rem;
    color: whitesmoke;
    text-align: justify; }

#newbery-cards-collapse {
  color: whitesmoke;
  padding-bottom: 10px; }
  #newbery-cards-collapse .airbnb-embed-frame {
    width: 450px;
    height: 300px;
    margin: auto; }

@media (max-width: 465px) {
  #newbery-cards-collapse .airbnb-embed-frame {
    max-width: 95vw;
    height: auto;
    margin: auto; } }

.table-bg {
  height: 440px;
  width: auto;
  margin: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 10%, rgba(0, 0, 0, 0.267) 100%), url("/pics/table.jpg");
  background-repeat: no-repeat;
  background-position: 0% 80%;
  background-size: 100% auto; }

.galeria-bg {
  height: 600px;
  width: auto;
  margin: auto;
  background-color: #222831;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  background-size: 110% auto; }
  .galeria-bg .modal-btn {
    background-color: rgba(54, 77, 99, 0);
    border: none; }
  .galeria-bg .x-fade-1 {
    margin: 10px;
    height: 550px;
    width: 300px;
    overflow: hidden; }
    .galeria-bg .x-fade-1 .garden {
      height: 550px;
      width: auto;
      position: relative;
      right: 50px; }
    .galeria-bg .x-fade-1 .hammock {
      height: 550px;
      width: auto;
      position: relative;
      right: 150px; }
    .galeria-bg .x-fade-1 .tv {
      height: 550px;
      width: auto;
      position: relative;
      right: 250px; }
  .galeria-bg .x-fade-2 {
    margin: 10px;
    height: 550px;
    width: 300px;
    overflow: hidden; }
    .galeria-bg .x-fade-2 .galeria {
      height: 550px;
      width: auto;
      position: relative;
      right: 200px; }
    .galeria-bg .x-fade-2 .kitchen {
      height: 550px;
      width: auto;
      position: relative;
      right: 200px; }
    .galeria-bg .x-fade-2 .record-player {
      height: 550px;
      width: auto;
      position: relative;
      right: 200px; }
  .galeria-bg .x-fade-3 {
    margin: 10px;
    height: 550px;
    width: 300px;
    overflow: hidden; }
    .galeria-bg .x-fade-3 .living-room {
      height: 550px;
      width: auto;
      position: relative;
      right: 170px; }
    .galeria-bg .x-fade-3 .living-room-2 {
      height: 550px;
      width: auto;
      position: relative;
      right: 300px; }
    .galeria-bg .x-fade-3 .living-room-3 {
      height: 550px;
      width: auto;
      position: relative;
      right: 300px; }

.contact-us-bg {
  padding-top: 20px;
  height: 550px;
  width: auto;
  margin: auto;
  background-image: linear-gradient(90deg, rgba(33, 39, 48, 0.8) 30%, rgba(0, 0, 0, 0.2) 60%), url("/pics/table.jpg");
  background-position: 40% 100%;
  background-repeat: no-repeat;
  background-size: auto 170%;
  color: whitesmoke; }

@media (max-width: 540px) {
  .contact-us-bg {
    background-color: #f5f5f5;
    background-image: none; }
    .contact-us-bg label {
      color: black; } }

.button-shake {
  position: relative;
  animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer; }

.button-shake:hover {
  animation-name: shakeAnim; }

@keyframes shakeAnim {
  0% {
    left: 0; }
  1% {
    left: -3px; }
  2% {
    left: 5px; }
  3% {
    left: -8px; }
  4% {
    left: 8px; }
  5% {
    left: -5px; }
  6% {
    left: 3px; }
  7% {
    left: 0; } }

@keyframes shake {
  0% {
    left: 0; }
  1% {
    left: -3px; }
  2% {
    left: 5px; }
  3% {
    left: -8px; }
  4% {
    left: 8px; }
  5% {
    left: -5px; }
  6% {
    left: 3px; }
  7% {
    left: 0; } }

form {
  max-width: 550px; }
  form .small-text-area-max-width {
    max-width: 280px;
    background-color: rgba(255, 255, 255, 0.7); }
  form .text-area-max-width {
    max-width: 550px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: "Lato";
    font-size: 1.1rem; }
  form label {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 3px; }
  form .btn {
    width: 200px;
    letter-spacing: 4px;
    font-family: "Lato";
    font-size: 1.2rem; }

.map-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

@media (max-width: 410px) {
  .book-mobile-left {
    display: none; } }

@media (min-width: 410px) {
  .book-mobile-bottom {
    display: none; } }

@media (max-width: 767px) {
  .map-section {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .map-section .mendoza {
      margin-bottom: 15px; } }

.blank-3 {
  background-color: #222831;
  padding: 30px 15px 30px 15px; }
  .blank-3 .mendoza {
    max-width: 400px;
    background-color: rgba(45, 64, 83, 0.8);
    padding: 25px 30px 25px 30px;
    color: #fff; }
  .blank-3 h2 {
    font-weight: 700;
    font-size: 1.6rem;
    color: whitesmoke;
    margin-bottom: 30px; }
  .blank-3 div p {
    font-size: 1.2rem;
    color: whitesmoke;
    font-family: "Lato"; }
  .blank-3 div iframe {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    box-shadow: 20px 5px 40px 10px rgba(0, 0, 0, 0.6); }

.services-wrapper {
  background-color: #f5f5f5;
  padding-bottom: 25px; }
  .services-wrapper h2 {
    padding-top: 30px; }
  .services-wrapper .services {
    padding-top: 40px;
    max-width: 1100px;
    background-color: #f5f5f5;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 50px 35px auto 50px 35px auto;
    grid-column-gap: 40px; }
    .services-wrapper .services h4 {
      font-size: 1.1rem;
      font-family: "Lato";
      font-weight: 400;
      letter-spacing: 2px; }
    .services-wrapper .services p {
      font-family: "Lato";
      padding-top: 10px; }

.divider {
  height: 5px;
  background-color: #222831; }

.activities-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #26384a;
  color: whitesmoke; }
  .activities-wrapper h2 {
    margin-top: 15px; }
  .activities-wrapper h4 {
    font-size: 1.2rem;
    font-family: "Lato";
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 15px; }
  .activities-wrapper p {
    font-family: "Lato";
    margin: 15px; }

.service-name, .service-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .service-name p, .service-description p {
    text-align: center; }

.walking-icon {
  animation-name: walking-effect;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-delay: 0s; }

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .icon .icon-size {
    width: auto; }
  .icon .garden {
    width: 60px; }
  .icon .walking-icon {
    animation-name: walking-effect;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0s; }
  .icon .icon-resize {
    width: 43px;
    height: auto; }

@keyframes walking-effect {
  15% {
    transform: skewY(-7deg); }
  35% {
    transform: translateY(-7px); }
  60% {
    transform: skewY(7deg); }
  90% {
    transform: translateY(-7); } }

.room-card {
  background-color: whitesmoke;
  height: 467px;
  padding-left: 0px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 700px 350px 90px; }
  .room-card .dash {
    margin: 30px 0px 0px 0px;
    width: 3px;
    height: 55px;
    background-color: #1500b3; }
  .room-card .circle {
    margin: 10px 0px 10px 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1500b3; }
  .room-card .dash-green {
    margin: 30px 0px 0px 0px;
    width: 3px;
    height: 55px;
    background-color: #47a239; }
  .room-card .circle-green {
    margin: 10px 0px 10px 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #47a239; }
  .room-card h4 {
    width: 150px;
    transform: rotate(90deg);
    margin-top: 70px; }
  .room-card .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .room-card .room-description p {
    margin: 20px 10px 20px 20px;
    text-align: justify;
    font-size: 1.3rem; }
  .room-card .room-description ul {
    font-family: "Lato"; }
  .room-card .room-description .btn-wrapper {
    margin-left: 25px; }

.booked-out-style {
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-size: 0.9rem; }

.superhost-position {
  height: 730px;
  position: absolute;
  right: 15px; }
  .superhost-position .sticky {
    position: sticky;
    top: 10px; }

.superhost {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }

.white-font {
  text-align: center;
  color: whitesmoke;
  font-family: "Lato"; }

img {
  width: 25px;
  height: auto; }

.btn-book-now {
  font-family: "Lato";
  background: #0F0F6D;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative; }
  .btn-book-now::after {
    display: inline-block;
    width: auto;
    height: 50px;
    margin-right: 15px;
    content: "";
    background: url("/pngs-svgs/airbnb.svg") no-repeat 0 0;
    background-size: 100%;
    font-family: "Lato";
    font-weight: 400;
    position: absolute;
    left: 70%;
    top: 28%;
    right: 5%;
    bottom: 0;
    opacity: 0; }
  .btn-book-now:hover {
    background: #2b2bff;
    transition: all 0.18s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    padding: 0.7rem 3rem 0.7rem 1.5rem; }
    .btn-book-now:hover::after {
      opacity: 1;
      transition: all 0.2s; }

footer .nav {
  background-color: #5e6f64; }
  footer .nav .right-border {
    border-right: solid;
    border-color: whitesmoke;
    line-height: 0.4rem;
    border-width: 1px; }
  footer .nav a {
    color: whitesmoke; }

footer .about-us {
  background-color: #222831;
  padding: 10px 0px 20px 0px;
  text-align: justify;
  text-align: center;
  color: whitesmoke; }

.responsive-services {
  background-color: #f5f5f5;
  display: none; }
  .responsive-services h2 {
    padding: 15px 0px 15px 0px; }
  .responsive-services h4 {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: lowercase; }
  .responsive-services p {
    font-size: 0.8rem; }
  .responsive-services .garden-resize {
    width: 3rem;
    height: auto; }
  .responsive-services .walking-icon-resize {
    height: 0.85rem;
    width: auto; }
  .responsive-services .resize {
    height: 2rem;
    width: auto; }

@media (max-width: 1128px) {
  .services-wrapper {
    display: none; }
  .responsive-services {
    display: inherit; } }

@media (max-width: 576px) {
  .cards-responsive {
    flex-direction: column;
    align-items: center; }
  .airbnb-card-wrapper {
    background-color: #26384a;
    padding-bottom: 30px;
    flex-direction: row; } }

@media (min-width: 1129px) {
  .flex-galery-hide {
    display: none;
    height: 0px; } }

.responsive-galery-bg {
  background-color: #222831;
  height: 50px;
  padding-top: 5px; }

@media (max-width: 1129px) {
  .mobile-rooms {
    display: inherit; }
    .mobile-rooms .dash-and-dot-into-card {
      margin-left: 0px; } }

@media (max-width: 1129px) and (max-width: 991px) {
  .blank .header-flex .responsive-nav {
    align-items: flex-start; } }

@media (max-width: 1129px) {
  .hide-desktop-rooms {
    display: none; }
  .hide-desktop-room-cards {
    display: none; } }

@media (max-width: 1129px) {
  .welcome {
    height: 300px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 10%, rgba(0, 0, 0, 0.267) 100%), url("/pics/living-room.jpg");
    background-attachment: fixed;
    background-position: 50% -20%;
    background-repeat: no-repeat;
    background-size: auto 70%; }
    .welcome h4 {
      font-size: 20px; }
    .welcome h1 {
      font-size: 40px; }
  .blank-2 {
    display: none; } }

.mobile-rooms-index {
  display: none; }

@media (max-width: 1129px) {
  .mobile-rooms-index {
    display: inherit; } }

@media (max-width: 674px) {
  .welcome {
    height: 300px; }
    .welcome h4 {
      display: none; }
    .welcome h1 {
      font-size: 25px;
      text-align: center; }
    .welcome .hr {
      display: none; } }

@media (max-width: 1199px) {
  .room-card {
    background-color: whitesmoke;
    height: 467px;
    padding-left: 0px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto auto; }
    .room-card .dash {
      margin: 30px 0px 0px 0px;
      width: 3px;
      height: 55px;
      background-color: #1500b3; }
    .room-card .circle {
      margin: 10px 0px 10px 0px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #1500b3; }
    .room-card .dash-green {
      margin: 30px 0px 0px 0px;
      width: 3px;
      height: 55px;
      background-color: #47a239; }
    .room-card .circle-green {
      margin: 10px 0px 10px 0px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #47a239; }
    .room-card h4 {
      width: 150px;
      transform: rotate(90deg);
      margin-top: 70px; }
    .room-card .side {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
    .room-card .room-description p {
      margin: 20px 10px 20px 20px;
      text-align: justify;
      font-size: 1rem; }
    .room-card .room-description ul {
      font-family: "Lato";
      font-size: 0.8rem; }
    .room-card .room-description .btn-wrapper {
      margin-left: 25px; }
  .btn-book-now {
    font-family: "Lato";
    background: #0F0F6D;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative; }
    .btn-book-now::after {
      display: inline-block;
      width: auto;
      height: 50px;
      margin-right: 15px;
      content: "";
      background: url("/pngs-svgs/airbnb.svg") no-repeat 0 0;
      background-size: 100%;
      font-family: "Lato";
      font-weight: 400;
      position: absolute;
      left: 70%;
      top: 28%;
      right: 5%;
      bottom: 0;
      opacity: 0; }
    .btn-book-now:hover {
      background: #2b2bff;
      transition: all 0.18s;
      border-radius: 10px;
      box-shadow: 0px 6px 15px #0000ff61;
      padding: 0.7rem 3rem 0.7rem 1.5rem; }
      .btn-book-now:hover::after {
        opacity: 1;
        transition: all 0.2s; } }

.dash-and-dot-into-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 20px;
  padding: 20px 0px 15px 0px; }
  .dash-and-dot-into-card .dash-blue {
    width: 65px;
    height: 3px;
    margin: 0px 3px;
    background-color: #1500b3; }
  .dash-and-dot-into-card .circle-blue {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
    background-color: #1500b3; }
  .dash-and-dot-into-card h5 {
    margin: 0px 0px 2px 0px; }
  .dash-and-dot-into-card .dash-green {
    width: 65px;
    height: 3px;
    margin: 0px 3px;
    background-color: #47a239; }
  .dash-and-dot-into-card .circle-green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
    background-color: #47a239; }

@media (min-width: 1200px) {
  .dash-and-dot-into-card {
    display: none; } }

@media (max-width: 660px) {
  .table-bg {
    max-height: 300px;
    width: auto;
    min-height: 300px;
    margin: auto;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 10%, rgba(0, 0, 0, 0.267) 100%), url("/pics/table.jpg");
    background-repeat: no-repeat;
    background-position: 30% 80%;
    background-size: 130% auto; } }

.container-galeria-en-grid div button {
  color: whitesmoke; }
