body {
  margin: 0;
  font-family: "Lato"; }

.blank .header-flex {
  display: flex;
  flex-direction: row;
  background-color: #222831;
  height: 150px;
  width: auto; }
  .blank .header-flex .blank-height-for-flex {
    height: 150px;
    width: 100%; }
  .blank .header-flex .breadcrumb {
    width: 100%;
    background-color: #222831;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0px 0px 0px 0px; }
    .blank .header-flex .breadcrumb li {
      color: whitesmoke;
      font-family: "Lato";
      font-size: 1rem;
      font-weight: 700;
      text-transform: lowercase;
      line-height: 1.5; }
      .blank .header-flex .breadcrumb li a {
        color: whitesmoke;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 1.5;
        font-weight: 900; }

.navbar-link-style {
  font-family: "Lato";
  font-size: 1rem;
  color: whitesmoke !important;
  font-weight: 700;
  text-transform: lowercase;
  margin-left: 10px; }

.welcome {
  height: 450px;
  width: auto;
  margin: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 10%, rgba(0, 0, 0, 0.267) 100%), url("/pics/living-room.jpg");
  background-attachment: fixed;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: auto 170%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .welcome h1 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 75px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 600; }
  .welcome hr.hr {
    width: 60px;
    border-top: 2px solid whitesmoke !important; }
  .welcome h4 {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-size: 35px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 400; }

.blank-2 {
  background-color: #364d63;
  height: auto;
  width: auto;
  padding: 70px 0px 70px 0px; }
  .blank-2 .grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-rows: 350px;
    grid-row-gap: 50px;
    grid-column-gap: 20px; }
    .blank-2 .grid .box-blue {
      background-color: #32475d;
      padding: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 40px 100%, 0 calc(100% - 40px)); }
      .blank-2 .grid .box-blue p {
        font-family: "Lato";
        font-size: 1.2rem; }
    .blank-2 .grid .box-green {
      background-color: #2d4053;
      padding: 10px;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0% 100%, 0 100%); }
      .blank-2 .grid .box-green p {
        font-family: "Lato";
        font-size: 1.2rem; }
    .blank-2 .grid .blue-room-pic {
      grid-column: span 2;
      background-image: url("/pics/blue-room.jpg");
      background-repeat: no-repeat;
      background-size: 105% auto;
      background-position: 50% 35%;
      box-shadow: 14px 19px 30px 2px rgba(0, 0, 0, 0.6); }
    .blank-2 .grid .green-room-pic {
      grid-column: span 2;
      background-image: url("/pics/green-room.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: 0% 20%;
      box-shadow: -10px 19px 30px 2px rgba(0, 0, 0, 0.6); }
  .blank-2 .carousel-size {
    height: auto;
    width: 700px; }
  .blank-2 .carousel-img {
    height: auto;
    width: 100%; }

.airbnb-card-wrapper {
  background-color: #26384a;
  padding-bottom: 30px; }
  .airbnb-card-wrapper .more-rooms-btn {
    margin: 15px 0px 40px 0px;
    text-transform: lowercase;
    font-weight: 700; }
  .airbnb-card-wrapper p {
    margin-top: 20px;
    color: whitesmoke; }
  .airbnb-card-wrapper .collapse .airbnb-newbery-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 25px; }
  .airbnb-card-wrapper .collapse p {
    font-size: 1.2rem;
    color: whitesmoke;
    text-align: justify; }

.table-bg {
  height: 440px;
  width: auto;
  margin: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 10%, rgba(0, 0, 0, 0.267) 100%), url("/pics/table.jpg");
  background-repeat: no-repeat;
  background-position: 0% 80%;
  background-size: 100% auto; }

.contact-us-bg {
  padding-top: 20px;
  height: 600px;
  width: auto;
  margin: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.205) 10%, rgba(0, 0, 0, 0.267) 100%), url("/pics/table.jpg");
  background-position: 40% 115%;
  background-repeat: no-repeat;
  background-size: auto 150%; }

form .btn {
  margin-left: 100px; }

form .small-text-area-max-width {
  max-width: 280px;
  background-color: rgba(255, 255, 255, 0.7); }

form .text-area-max-width {
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Lato";
  font-size: 1.1rem; }

form label {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 3px; }

.blank-3 {
  background-color: #222831;
  padding: 30px 15px 30px 15px; }
  .blank-3 .mendoza {
    width: 500px; }
  .blank-3 h2 {
    color: whitesmoke; }
  .blank-3 div p {
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: "Lato"; }

.services-wrapper {
  background-color: #f5f5f5;
  padding-bottom: 25px; }
  .services-wrapper h2 {
    padding-top: 30px; }
  .services-wrapper .services {
    padding-top: 40px;
    max-width: 1100px;
    background-color: #f5f5f5;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 50px 35px auto 50px 35px auto;
    grid-column-gap: 40px; }
    .services-wrapper .services h4 {
      font-size: 1.1rem;
      font-family: "Lato";
      font-weight: 400;
      letter-spacing: 2px; }
    .services-wrapper .services p {
      font-family: "Lato";
      padding-top: 10px; }

.divider {
  height: 5px;
  background-color: #222831; }

.activities-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #26384a;
  color: whitesmoke; }
  .activities-wrapper h2 {
    margin-top: 15px; }
  .activities-wrapper h4 {
    font-size: 1.2rem;
    font-family: "Lato";
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 15px; }
  .activities-wrapper p {
    font-family: "Lato";
    margin: 15px; }

.service-name, .service-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .service-name p, .service-description p {
    text-align: center; }

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .icon .walking-icon {
    animation-name: walking-effect;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0s; }
  .icon .icon-resize {
    width: 43px;
    height: auto; }

@keyframes walking-effect {
  15% {
    transform: skewY(-7deg); }
  35% {
    transform: translateY(-7px); }
  60% {
    transform: skewY(7deg); }
  90% {
    transform: translateY(-7); } }

.room-card {
  background-color: whitesmoke;
  height: 467px;
  padding-left: 0px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 700px 350px 90px;
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%, 0 100%); }
  .room-card .dash {
    margin: 30px 0px 0px 0px;
    width: 3px;
    height: 55px;
    background-color: #1500b3; }
  .room-card .circle {
    margin: 10px 0px 10px 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1500b3; }
  .room-card .dash-green {
    margin: 30px 0px 0px 0px;
    width: 3px;
    height: 55px;
    background-color: #47a239; }
  .room-card .circle-green {
    margin: 10px 0px 10px 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #47a239; }
  .room-card h4 {
    width: 150px;
    transform: rotate(90deg);
    margin-top: 70px; }
  .room-card .side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .room-card .room-description p {
    margin: 20px 10px 20px 20px;
    text-align: justify;
    font-size: 1.3rem; }
  .room-card .room-description ul {
    font-family: "Lato"; }
  .room-card .room-description .btn-wrapper {
    margin-left: 25px; }

.btn-book-now {
  font-family: "Lato";
  background: #0F0F6D;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative; }
  .btn-book-now::after {
    display: inline-block;
    width: auto;
    height: 70px;
    margin-right: 15px;
    content: "";
    background: url("/icons/airbnb.svg") no-repeat 0 0;
    background-size: 100%;
    font-family: "Lato";
    font-weight: 400;
    position: absolute;
    left: 70%;
    top: 35%;
    right: 5%;
    bottom: 0;
    opacity: 0; }
  .btn-book-now:hover {
    background: #2b2bff;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    padding: 1.5rem 3.5rem 1.5rem 1.5rem; }
    .btn-book-now:hover::after {
      opacity: 1;
      transition: all 0.5s; }

footer .nav {
  background-color: #5e6f64; }
  footer .nav a {
    color: whitesmoke; }

footer .about-us {
  background-color: #222831;
  padding: 20px 0px 20px 0px;
  text-align: justify;
  text-align: center;
  color: whitesmoke; }
